{% extends "main.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% block js %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
{% endblock js %}
    {% block title %} {{title}} {% endblock %}
{% block content %}
    {% if pk %}
    <a href="{% url 'publications:duplicateCollectionView' pk %}">Duplicate</a>
    {% endif %}
    {% if counts %}
     {% for key, value in counts.items %}
    <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_label filter.label %}
            {% bootstrap_form filter.form %}
            {% bootstrap_button 'filter' %}
        </form>
    {% endif %}
        {% render_table table %}

{% endblock %}